// Susy setup ---------------------------------------------------

$total-columns      : 4;
$column-width       : 11.25em;
$gutter-width       : 0;
$grid-padding       : 1.5em;

@include border-box-sizing;

$tablet             : 480px;
$desktop            : 768px;

// Footer ---------------------------------------------------

footer {
    @include container;
    background-color: $blue;
    color: white;
    height: 80px;
    text-align: center;
    div {
        display: block;
    }
    // Tablet view
    @include breakpoint($tablet) {
        height: 40px;
    } //breakpoint
}
