$white          : rgb(252, 251, 249);   //background
$blue           : rgb(0, 45, 71);       //left-right button, text
$hoverblue      : rgb(0, 29, 45);       //hover left-right button
$share          : rgb(88, 121, 157);    //share image
$hovershare     : rgb(61, 84, 110);     //hover share image
$clickshare     : rgb(138, 161, 187);   //active share image
$lightgrey      : rgb(228, 228, 228);   //text 
$grey           : rgb(193, 192, 191);   //text 
$darkgrey       : rgb(162, 162, 161);   //text 
$bordergrey     : rgb(221, 218, 214);   //dropdown, textfield-border, hline grey 
$abordergrey    : rgb(182, 182, 182);   //dropdown, textfield-active border grey 
$inactivegrey   : rgb(235, 235, 235);   //dropdown inactive text grey
$dotblue        : rgb(64, 130, 167);    //under image dot blue
$dotgreen       : rgb(107, 175, 107);   //under image dot green
$dotpurple      : rgb(90, 107, 163);    //under image dot purple
$dotlightgrey   : rgb(192, 182, 172);   //under image dot lightgrey
$dotgrey        : rgb(144, 135, 140);   //under image dot grey
$dotdarkgrey    : rgb(124, 117, 110);   //under image dot darkgrey
$errorred       : rgb(230, 83, 93);     //textfield error text red
$greytext       : rgb(179, 179, 179);   //text

$font-bold      : SPBold, serif;   
$font-light     : SPLight, serif;
$font-medium    : SPMedium, serif;
$font-regular   : SPRegular, serif;